<main>
  <button mat-raised-button
    (click)="cancelWorkflowNG()">Cancel Workflow (NG)</button>
  <button mat-raised-button
    (click)="cancelWorkflow()">Cancel Workflow (Dom)</button>
  <button mat-raised-button
          routerLink="/page1">Page 1</button>
  <button mat-raised-button
          routerLink="/page2">Page 2</button>
  <h2>Loaded Page Content:</h2>
  <span>
    Hello from another angular app!
  </span>
  <hr/>
  <div>Activity Configuration: {{activityConfObject() | json }}</div>
  <router-outlet></router-outlet>
</main>
